.idea/
.vscode/

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/

dist/
build/
*.egg-info/
pip-wheel-metadata/

.pytest_cache/
.coverage
coverage.xml
htmlcov/

.mypy_cache/
.ruff_cache/

.tox/
.nox/

.env*
.envrc

.DS_Store
Thumbs.db

.ipynb_checkpoints/
logs/
*.log

/output_dir_*/

/atualizar_lista_apks.py
/verify_dir.py
/count_output_dirs.py

distribuicao_wcag.csv
falhas_por_tela.csv
frequencia_falhas.csv
frequencia_falhas_pivotada.csv
apks.local.csv
ranking_falhas.csv
tabela_cobertura.csv
execution_times.csv
apks_falhas.csv

apps

frida-server
frida-server-*.xz
*.pyc
output_dir_*/
test_output/

comparison/comparacao_batch/